.Formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  .form-titulo {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-table {
    margin-bottom: 1rem;
  }
  
  .form-img {
    max-width: 100%;
    height: auto;
  }
  
  .icon-pen,
  .icon-trash {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .icon-pen {
    margin-right: 1rem;
  }
  
  .fa-pen-to-square,
  .fa-trash {
    font-size: 1.5rem;
    color: #555;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
  }
  
  input:focus {
    outline: none;
    box-shadow: inset 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  