.Formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-titulo {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  .formulario label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .formulario input,
  .formulario textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .formulario input:focus,
  .formulario textarea:focus {
    outline: none;
    border-color: #0077cc;
    box-shadow: 0px 0px 10px rgba(0, 119, 204, 0.4);
  }
  
  .formulario-imagenes input {
    margin-bottom: 0;
  }
  
  .link-box {
    text-align: center;
    margin-top: 30px;
  }
  
  .link {
    color: #0077cc;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
  }
  
  .link:hover {
    border-bottom: 2px solid #0077cc;
  }
  